<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>

  <p>
  <form action="/api/send" method="post">
    <input type="text" name="message" id="message">
    <button type="submit">
      Send
    </button>
  </form>
  </p>
</body>

</html>
